body {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  padding: 10px 0;
  width: 100%;
  z-index: 10;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid black;
}

.logo-container, .nav-top, nav {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.nav-top {
  padding-right: 30px;
}

.logo-container {
  flex-grow: 5;
  padding-left: 25px;
  color: MediumAquamarine;
}

.logo-element {
  padding: 0 5px;
}

.nav-element {
  display: inline-block;
  padding: 0 15px;
  color: black;
}

main {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 80px auto;
  min-width: 1260px;
  min-height: 1200px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column-large, .column-medium, .column-small {
  position: relative;
  margin-top: 35px;
  margin-right: 27px;
}

.column-large {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 630px;
}

.column-medium {
  display: flex;
  align-self: flex-start;
  align-content: space-between;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 1000px;
  max-width: 300px;
}

.column-small {
  display: flex;
  align-self: flex-start;
  flex-flow: column wrap;
  max-width: 240px;
}

.story-main {
  display: flex;
  flex-direction: column;
}

.story, .story-slim {
  display: flex;
  flex-direction: column;
}

.story-slim {
  max-width: 290px;
}

.headline, .headline-main {
  display: flex;
  font-weight: bold;
}

.headline {
  font-size: 30px;
}

.headline-main {
  font-size: 40px;
}

.story-image-main {
  display: flex;
  background: url("../images/img-story-main.png");
  height: 300px;
  color: white;
}

.story-image-earth, .story-image-camera, .story-image-cat {
  display: inline-flex;
  //align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.story-image-earth {
  background: url("../images/img-story-2.png");
  max-width: 290px;
  min-height: 290px;
}

.story-image-camera {
  background: url("../images/img-story-3.png");
  max-width: 290px;
  min-height: 290px;
}

.story-image-cat {
  background: url("../images/img-story-1.png");
  height: 300px;
}

.news-bites-headline {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
}

.news-bites-box {
  display: flex;
  align-items: center;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  width: 100%;
  min-height: 45px;
}

.news-bites-box-item {
  display: flex;
  flex-flow: row wrap;
  padding-left: 15px;
  max-width: 200px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
  min-height: 300px;
  width: 100%;
}

.footer-item {
  display: inline-flex;
  margin: 10px auto;
}

.footer-my-times-logo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 15px;
}
