body {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
header {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 10px 0;
  width: 100%;
  z-index: 10;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid black;
}

.logo-container, nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container {
  border: 1px solid black;
  flex-grow: 5;
  padding-left: 25px;
  color: MediumAquamarine;
}

nav {
  padding-right: 30px;
}

.logo-element {
  padding: 0 5px;
}

.nav-element {
  display: inline-block;
  padding: 0 15px;
  color: black;
}

main {
  border: 1px solid black;
  display: flex;
  position: relative;
  margin-top: 80px;
  max-width: 1260px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  margin-top: 35px;
  margin-right: 27px;
  justify-content: space-between;
}

.column .large {
  max-width: 630px;
}

.column .medium {
  max-width: 300px;
}

.column .small {
  max-width: 240px;
}

.story {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.headline, .headline-main {
  display: flex;
  font-weight: bold;
  color: white;
}

.headline {
  font-size: 30px;
}

.headline-main {
  font-size: 40px;
}

.story-image-main {
  display: flex;
  background: url("../images/img-story-main.png");
  height: 300px;
  border: 1px solid black;
}

.story-image-earth, .story-image-camera, .story-image-cat {
  display: flex;
  //align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
}

.story-image-earth {
  background: url("../images/img-story-2.png");
  border: 1px solid black;
}

.story-image-camera {
  background: url("../images/img-story-3.png");
  border: 1px solid black;
}

.story-image-cat {
  background: url("../images/img-story-1.png");
  border: 1px solid black;
}

.news-bites {
  border: 1px solid black;
}
