body {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
header {
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 10px 0;
  width: 100%;
  z-index: 10;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid black;
}

.logo-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-grow: 5;
  align-items: center;
  padding-left: 25px;
  color: MediumAquamarine;
}

.logo-element {
  padding: 0 5px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
}

.nav-element {
  display: inline-block;
  padding: 0 15px;
  color: black;
}

main {
  border: 1px solid black;
  display: flex;
  position: relative;
  margin-top: 80px;
  max-width: 1260px;
}

.column {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  margin-top: 35px;
  margin-right: 27px;
}

.column .large {
  max-width: 630px;
}

.column .medium {
  max-width: 300px;
}

.column .small {
  max-width: 240px;
}

.story {
  border: 1px solid black;
}

.story-main {
  display: block;
  border: 1px solid black;
}

.story-earth {
  display: block;
  border: 1px solid black;
}

.story-camera {
  display: block;
  border: 1px solid black;
}

.story-cat {
  display: block;
  border: 1px solid black;
}
